// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: "/assets/" !default;
$plum: #d3a5e0;
$lightskyblue: #81f3ff;
$khaki: #fbdf7d;
$aquamarine: #7dffdf;
$lightsalmon: #feb68f;
$mistyrose: #ffd1e4;
$poppins-light: "Poppins Light";
$poppins-medium: "Poppins Medium";
$poppins-bold: "Poppins Bold";
